{% extends 'base.html' %}
{% load static %}
{% block content %}
		<div id="content" class="site-content">
			<div id="primary" class="content-area column full">
				<main id="main" class="site-main">

				<article class="hentry">
				<header class="entry-header">
				<h1 class="entry-title">About</h1>
				</header>
				<!-- .entry-header -->

				<div class="entry-content">
				<p><img style="border:10px solid #f4f5f6" src="{% static 'website/images/e_commerce_poster_pic.jpg' %}" alt="bg5" width="430" class="alignright"></p>
				<p>HandiCrafts India is e commerce website specialized in sale of Indian HandiCrafts Articles from Rajasthani Carpets to home made bamboo baskets. HandiCrafts India has been the industry’s standard ever since the 2001, when an unknown printer took a galley of type and scrambled it to make a type specimen craft.</p>
				<p>It has survived not only last two decades, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 2008 with the stark improvement in internet speed, and more recently with desktop publishing software like Aldus PageMaker.</p>
				<h2 style="font-family: 'Herr Von Muellerhoff';color:#ccc;font-weight:300;">Yours, Von Muellerhoff</h2>
				</div><!-- .entry-content -->
				</article>

				</main>
				<!-- #main -->
			</div>
			<!-- #primary -->
		</div>
{% endblock %}